table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin-left: 470px;
    margin-top: 50px;
    color:red;
    background-color: lavender;
}
  
td,th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

#buttons{
    margin-top: 50px;
    margin-left: 600px;
}

.button{
    margin-left: 5px;
    background-color: darkblue;
    color: whitesmoke;
}

#heading{
    text-align: center;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkblue;
}

